<ion-view style="" id="page7" title="home">
    <ion-content class="has-header" padding="true" style="background: url(img/7xnvsRS4KaqPgXSLiwyg_home_cadu.jpg) no-repeat center;">
        <div style="color: rgb(109, 108, 177); font-size: 20px; text-align: center;" id="home-markdown1">
            <p>Bienvenue sur l'application de remplacement Cadulink.</p>
        </div>
        <a ui-sref="menu.remplacement" style="display: inline-block;">
            <div style="text-align:right;">
                <img class="col-offset-25" src="img/cadulink.jpeg" height="auto" width="80%">
            </div>
        </a>
    </ion-content>
</ion-view>
