<ion-view style="" id="page4" title="Médecin">
    <ion-content class="has-header" padding="true">
        <form style="" class="list"></form>
        <ion-view style="" id="page4" title="Médecin">
            <ion-content class="has-header" padding="true">
                <form style="" class="list"></form>
                <div style="" class="list card">
                    <div class="item item-divider">Communauté Médecin</div>
                    <div class="item item-body">
                        <div style="text-align: center;">
                            <img src="img/medecin.jpeg"  height="auto" width="50%">
                        </div>
                    </div>
                </div>
                <form style="" class="list"></form>
                <div style=" font-size: 15px; text-align: center;" >
                    <p>Découvrez ci-dessous les différentes offres de remplacement concernant les médecins généraliste.</p>
                </div>
                <div style="" class="list card">
                    <div class="item item-divider">Remplacement à Meudon</div>
                    <div class="item item-body">
                        <div style="color: rgb(0, 0, 0); text-align: center;" id="mDecin-markdown4">
                            <p>Médecin généraliste installé à Meudon Cherche remplaçant (e) 1 à 2 jours par semaine à partir de septembre 2016. Possibilité de faire des remplacements avant. Étudie toutes propositions....</p>
                        </div>
                    </div>
                    <div class="item item-divider">Meudon (92 )</div>
                </div>
            </ion-content>
        </ion-view>
    </ion-content>
</ion-view>
