<ion-view  id="page1" title="Remplacement">
    <ion-content class="has-header" padding="false">
        <ion-list style="">
            <ion-item style="" ui-sref="menu.medecin" class="item-avatar-left">
                <img src="img/medecin.jpeg">
                <h2>Médecin Généraliste</h2>
                <p>Rejoignez la communauté de remplacement de médecin</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.kinesitherapeute" class="item-avatar-left">
                <img src="img/cghl4SMvR8uxfH037fcS_kinesitherapie.jpeg">
                <h2>Kinésithérapeute</h2>
                <p>Rejoignez la communauté de remplacement de Kinésithérapeute</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.infirmier" class="item-avatar-left">
                <img src="img/83gFQaMbTXa9FToVOkC6_infirmiere.png">
                <h2>Infirmiers</h2>
                <p>Rejoignez la communauté de remplacement d'infirmier</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.dentiste" class="item-avatar-left">
                <img src="img/07U8E5PTceuGRL8E3OPZ_dentiste.jpeg">
                <h2>Dentiste</h2>
                <p>Rejoignez la communauté de remplacement de dentiste</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.cardiologue" class="item-avatar-left">
                <img src="img/mhUfnjZWTqCK0vMPPc2i_cariologue.png">
                <h2>Cardiologue</h2>
                <p>Rejoignez la communauté de remplacement de cardiologue</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.liberal" class="item-avatar-left">
                <img src="img/libéral.jpeg">
                <h2>Infirmiers libérale</h2>
                <p>Rejoignez la communauté de remplacement de médecin</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
