<ion-view style="" id="page5" title="Cardiologue">
  <ion-content class="has-header" padding="true">
    <form style="" class="list"></form>
    <div style="" class="list card">
      <div class="item item-divider">Communauté Dentiste</div>
      <div class="item item-body">
        <div style="text-align: center;">
          <img src="img/cardiologue.png"  height="auto" width="50%">
        </div>
      </div>
    </div>
    <form style="" class="list"></form>
    <div style=" font-size: 15px; text-align: center;" >
      <p>Découvrez ci-dessous les différentes offres de remplacement concernant les Cardiologues.</p>
    </div>
    <div style="" class="list card">
      <div class="item item-divider"> Remplacement cardiologue — H/F</div>
      <div class="item item-body">
        <div style=" text-align: center;" >
          <img src="img/meudon.png" height="auto" width="100%"/>
          <p>Le Centre Hospitalier de Semur en Auxois (Côte d’Or) www.ch-semur.fr Situé à 70 km de Dijon -
            Autoroute A6 - Gare TGV Montbard (1 heure de Paris)
            Plateau technique entièrement reconstruit en 2009 Disciplines : Service d’Accueil des Urgences et SMUR, bloc opératoir...</p>
          </div>
        </div>
        <div class="item item-divider">Bourgogne(15)</div>
      </div>
      <div style="" class="list card">
        <div class="item item-divider">MÉDECIN CARDIOLOGUE - H/F</div>
        <div class="item item-body">
          <div style=" text-align: center;" >
            <img src="img/saint-ouen.png" alt="" />
            <p>Nous recherchons pour le compte de notre client...Etablissement situé dans les Alpes du Sud Remplacement en garde de 24 heures...</p>
          </div>
        </div>
        <div class="item item-divider">Gap (05) </div>
      </div>
      <div style="" class="list card">
        <div class="item item-divider">MEDECIN CARDIOLOGUE H/F</div>
        <div class="item item-body">
          <div style=" text-align: center;" >
            <img src="img/fonsegrive.png" width="100%" alt="" />
            <p>Remplacement du vendredi 29 avril (17h) jusqu'au lundi 2 mai (8h)
               Rémunération  sur la totalité du remplacement 1500 € net Logé sur place Frais de déplacement rembo...</p>
          </div>
        </div>
        <div class="item item-divider">Longwy (54) </div>
      </div>
      <div class="buttons">
        Supprimer son annonce
        <button class="button button-icon icon ion-minus" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
      </div>
      <div class="buttons">
        Trier les annonces
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">Reorder</button>
        Ajouter une annonce
        <button class="button button-icon icon ion-plus" ng-click="openModal()"></button>
      </div>


    </ion-content>
  </ion-view>
